.container { 
  margin-left: 20px;
  width: 95%;
}

button, select, input { 
  margin-left: 5px;
}

tr.tr { 
  display: table-row;
  float: none;
  width: auto;
}

td.option { 
  display: table-cell; 
  text-align: right;
}

td input:hover { 
  box-shadow: 0px 1px 0px #00000080; 
  outline: 0px;  
}

.textarea { 
  width: 400px;
  height: 150px;
}