.line { 
    position: absolute;
    stroke: black;
    stroke-width: 1; 
    padding-top: 5px;
    z-index: -1;
}

.chordEntry { 
    width: 10px;
}
 
tr { display: block; float: left; }
th, td { display: block; }

td input:hover { 
    padding: 0px;
    outline: #333 solid 1px;
}