.line { 
    position: absolute;
    stroke: black;
    stroke-width: 1; 
    padding-top: 5px;
    z-index: -1;
} 

tr { 
    display: block; 
    float: left;   
    white-space: nowrap;
}
 
th, td { 
    display: block;   
    white-space: nowrap;
    text-align: center;
}

td input {   
    font-family: monospace;
}

td input:hover { 
    padding: 0px;
    outline: #333 solid 1px;
}
 