tr { 
    display: block; 
    float: left;   
    white-space: nowrap;
}
 
th, td { 
    display: block;   
    white-space: nowrap;
    text-align: center;
}

td input {   
    font-family: monospace;
}

td input:hover { 
    padding: 0px;
    outline: #333 solid 1px;
}
 